{% extends "base.html" %}

{% block body %}
<div>
  <table id="home-table">
    <tr>
      <td>
        <p id="description">
        <b>Webbed Feet</b> is a <i>competition judge</i> created to evaluate AI bots created for the <a href="http://www.cse.iitm.ac.in/~cs638/">"Artificial Intelligence"</a> course taken by <a href="http://www.cse.iitm.ac.in/khemani/">Dr. Deepak Khemani</a>. It is also being used as the judge for <a href="http://www.shaastra.org/2010/main/events/coding/automania">Automania</a> at Shaastra 2010. You can obtain the source code <a href="http://github.com/arunchaganty/webbed-feet">here</a>.

        To participate, please register on the <a href="http://www.shaastra.org/userportal/">Userportal</a> first, and then login using the form to your right. You will then be able to upload your bot(s), and view the results as they are played against other bots.

        </p>
      </td>
      <td>
        <!-- Login -->
        {% if not team %}
        <div id="login">
          <form method="post" action="">
            {% csrf_token %}
            <h3>Login</h3>
            <table id="login_form">
              {{form.as_table}}
            </table>
            <div class="centered">
              <a href="{{UP_URL}}/">Register On the Userportal</a> 
            </div>
            <br />
            <div class="right">
              <input type="submit" value="Login" />
            </div>
          </form>
        </div>
        {% else %}
        <div id="quick-links">
          <!-- Quick Links -->
          <h3>Welcome {{team}}</h3>
          <h4>Quick Links</h4>
          <ul>
            <li><a href="/judge/manage/">Manage Submissions</a></li>
            <li><a href="/judge/results/">View Results</a></li>
            <li><a href="/judge/standings/">View Standings</a></li>
          </ul>
          <!-- Display standings -->
          <h4>Statistics</h4>
          <table>
            <thead></thead>
            <tbody>
              <tr><td>Bots Submitted:</td><td>{{botCount}}</td></tr>
              <tr><td>Current Standing:</td><td>{{standing}}</td></tr>
              <tr><td>Current Score:</td><td>{{score}}</td></tr>
            </tbody>
          </table>
        </div>
        {% endif %}
      </td>
    </tr>
  </table>
</div>
{% endblock %}

