{% extends "base.html" %}

{% block body %}
<div>
  <table id="home-table">
    <tr>
      <td>
          {% if messages %}
          <div id="messages">
          <ul class="messages">
              {% for message in messages %}
              <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
              {% endfor %}
          </ul>
          </div>
          {% endif %}

        <p id="description">
        <b>Webbed Feet</b> is a <i>competition judge</i> created to evaluate AI bots created for the <a href="http://www.cse.iitm.ac.in/~cs638/">"Artificial Intelligence"</a> course taken by <a href="http://aidblab.cse.iitm.ac.in/khemani/">Dr. Deepak Khemani</a>. It was also used as the judge for <a href="http://www.shaastra.org/2010/main/events/coding/automania">Automania</a> at Shaastra 2010. You can obtain the source code for the judge <a href="http://github.com/arunchaganty/webbed-feet">here</a>.
        </p>

        <p>
        The <b>code for the game</b> (Othello) can be found <a href="{{MEDIA_URL}}/files/Desdemona.tar.gz">here</a> (Last updated: <i>26th October 2010</i>). For more help, check the <a href="{{SITE_URL}}/home/help/">help section</a>.
        </p>

        <div class="green">
            <h2>Notices</h2>
            <ul>
              {% for notice in notices %}
              <li><b>{{notice.timestamp}}</b> {{notice|safe}}</li>
              {% endfor %}
              <!--
                <li> <b>31st October 2010</b>: There is a <b>bug in the scoring system</b> that was recently found (Thanks Sagar B). This is due to debug print statements during the execution of the program. Please <b>direct all your debug statments to stderr</b>. Scores and standings have been reset. A fixed version of the program should follow shortly</li>
                <li> <b>26th October 2010</b>: Added a bounds check in validate_move and make_move. Also, fix to standings (bot name now prints correctly). (Thanks Florian)</li>
                <li> <b>23rd October 2010</b>: Minor fix in score system + Fix in replay of pass moves. Earlier version printed RedCount-BlackCount; it should be the opposite. Fixed (Thanks Prabhat, Bharadwaj)</li>
                <li> <b>19th October 2010</b>: Updated the Othello game code. Bug Fixed: getRedCount(), getBlackCount() returning junk values. (Thanks Prabhat) </li>
                -->
            </ul>
        </div>
      </td>
      <td>
        <!-- Login -->
        {% if not user.is_authenticated %}
        <div id="login" class="calm-blue">
          <form method="post" action="{{SITE_URL}}/accounts/login/">
            {% csrf_token %}
            <h3>Login</h3>
            <table id="login_form">
              {{form.as_table}}
            </table>
            <br />
            <div class="right">
              <a href="{{SITE_URL}}/accounts/forgot/">Forgot Password?</a>
              <input type="submit" value="Login" />
            </div>
          </form>
        </div>
        {% else %}
        <div id="quicklinks" class="calm-blue">
          <h3>Welcome {{team}}</h3>
          <!-- Display standings -->
          <h4>Statistics</h4>
          <table>
            <thead></thead>
            <tbody>
              <tr><td>Current Standing:</td><td>{{standing}}</td></tr>
              <tr><td>Current Score:</td><td>{{score}}</td></tr>
              <tr><td>Bots Submitted:</td><td>{{botCount}}</td></tr>
            </tbody>
          </table>
        </div>
        {% endif %}
      </td>
    </tr>
  </table>
</div>
{% endblock %}

