*.swp
*.swo
*.pyc
*.o
*.so
*~
settings.py
web/media/bots/
web/media/bot_src/
web/media/logs/
web/media/admin/
web/desdemona.db
web/apache/django.wsgi
web/apache/auth.wsgi
web/webbing/gbl.py
buildnest/
runnest/
