<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Webbed Feet</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" href="{{MEDIA_URL}}/css/style.css" type="text/css" ></link>
        <link rel="top" title="Webbed-Feet" href="{{SITE_URL}}" />
        <link rel="icon" href="{{MEDIA_URL}}/images/favicon.ico" type="image/x-icon" />
    </head>
    <body>
        <div id="header">
            <img src="{{MEDIA_URL}}/images/logo.jpg" />
        </div>
	
        <div id="linkbar">
          <a href="{{SITE_URL}}/home/">Home</a>
            {% if not user.is_authenticated %}
            &middot; <a href="{{SITE_URL}}/accounts/register/">Register</a>
            {% endif %}

            {% if user.is_authenticated %}
            &middot; <a href="{{SITE_URL}}/judge/manage/">Manage Submissions</a>
            {% endif %}

            &middot; <a href="{{SITE_URL}}/judge/standings/">Standings</a>
            &middot; <a href="{{SITE_URL}}/judge/results/">Match Results</a>

            &middot; <a href="{{SITE_URL}}/home/help/">Help</a>

            {% if user.is_authenticated %}
            &middot; <a href="{{SITE_URL}}/logout/">Logout</a> 
            {% endif %}
        </div>

        <div id="body">
            {% block body %}
            {% endblock %}
        </div>

        <div id="footer">
          &copy; <a class="plain" href="http://arun.chagantys.org/">Arun Chaganty</a> <br />
          <a class="plain" href="http://www.cse.iitm.ac.in/">Deptt. of Computer Science and Engineering, IIT Madras</a>
        </div>
    </body>
</html>


