# Contains the parameter settings for Webbing

# Daemon Properties
MAINLOOP_PERIOD = 60 # seconds
# PING_URL = "URL/home/ping"
# BASE_LOCATION="<path>"

DB_HOST="localhost"
DB_USER=""
DB_PASS=""
DB_NAME=""

TBL_GAME="judge_game"
TBL_SUBMISSION="judge_submission"
TBL_RUN="judge_run"

