# Contains the parameter settings for Webbing

# Daemon Properties
MAINLOOP_PERIOD = 60 # seconds
#PING_URL = "URL/home/ping"
#ROOT_DIR="/path/to/webbed-feet/"
#MEDIA_DIR="/path/to/media/"

FAIL_CHANCES=3
TIMEOUT = 60 # seconds

import sys
import os
sys.path.append(ROOT_DIR)
os.environ['DJANGO_SETTINGS_MODULE'] = 'web.settings'
