{% extends "base.html" %}

{% block body %}
<div id="standings">
  <h2>Standings For {% if gameName %} {{gameName}} {%else%} All Games {%endif%}</h2>
  {% if messages %}
  <div id="messages">
  <ul class="messages">
      {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
  </ul>
  </div>
  {% endif %}

  <p>Gamewise: 
    {% for game in games %} 
    <a href="{{SITE_URL}}/judge/standings/game/{{game.name}}/"> {{game.name}}</a> &middot; 
    {% endfor %}
    <a href="{{SITE_URL}}/judge/standings/all/">All</a>
  </p>
  <p>
    Standings are calculated based on the performance of the best bot in a team. Click on a particular game to find which bot this is.
  </p>

{% if standings %}
    <table id="scores" class="results">
      <thead>
        <th>Position</th> <th>Team</th> <th>Score</th>
      </thead>
    <tbody>
    {% for user in standings.object_list %}
    <tr class="{% cycle 'dark' 'light' %}">
      <td><b>{{forloop.counter}}</b></td>
      <td>{{user.username}} {% if gameName %} ({{user.name}}) {% endif %}</td>
      <td>{{user.score}}</td>
    {% endfor %}
    </tbody>
    </table>

    <div class="pagination">
        <span class="step-links">
            {% if standings.has_previous %}
            <a href="{{SITE_URL}}/judge/standings/{{ standings.previous_page_number }}/">previous</a>
            {% endif %}

            <span class="current">
                Page {{ standings.number }} of {{ standings.paginator.num_pages }}.
            </span>

            {% if standings.has_next %}
            <a href="{{SITE_URL}}/judge/standings/{{ standings.next_page_number }}/">next</a>
            {% endif %}
        </span>
    </div>

{% else %}
    <b>None</b>
{% endif %}
</div>
  {% endblock %}

