
body {
    width: 800px;
    margin: 30px auto;
}

h4 {
    text-decoration: underline;
    font-weight: bold;
}

/* Header */
div#header {
    text-align: center;
}

div#header table {
    margin: auto;
}


/* Linkbar */
div#linkbar {
    width: 100%;
    margin: 0 auto;
    margin-top: 10px;
    text-align: center;
}

div#linkbar a {
    color: black;
    text-decoration: none;
}

div#linkbar a:hover {
    text-decoration: underline;
}

/* Logout */
div#logout {
    text-align: right;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Body */
div#body {
    min-height: 300px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: thin;
}


/* Footer */
div#footer {
    text-align: center;
}

/* Miscellaneous */
div.centered {
    text-align: center;
}

div.right {
    text-align: right;
}

span.centered {
    text-align: center;
}
span.right {
    text-align: right;
}

div.calm-blue {
    border: solid 1px #943ADA;
    background: #E0B8FF;
}

div.calm-blue2 {
    border-top: solid 1px #943ADA;
    border-bottom: solid 1px #943ADA;
    background: #E0B8FF;
    padding: 10px;
}

a.plain {
    text-decoration: none;
    color: inherit;
}

a.plain:hover {
    text-decoration: underline;
    color: inherit;
}

/* Home Page */

table#home-table td {
    width: 50%;
}


div#login {
    width: 300px;
    margin: auto;
    padding: 10px;
    height: 300px;
}

div#quicklinks {
    width: 300px;
    margin: auto;
    padding: 10px;
    height: 300px;
}

table.results td,th {
    min-width: 80px;
    text-align: right;
}

tr.light {
    background: white;
}

tr.dark {
    background: #E0B8FF;
}

/* Message windows */
ul.errorlist 
{
    padding: 0;
}
ul.errorlist li 
{
    border-top: thin solid #3ADA94;
    border-bottom: thin solid #3ADA94;
    background: #B8FFE0;
    list-style: none;
}
    
ul.messages 
{
    padding: 0;
}
ul.messages li.error
{
    border-top: thin solid #3ADA94;
    border-bottom: thin solid #3ADA94;
    background: #B8FFE0;
    list-style: none;
}

ul.messages li.info
{
    border-top: thin solid #94DA3A;
    border-bottom: thin solid #94DA3A;
    background: #FFE0B8;
    list-style: none;
}

/* Pagination */
div.pagination
{
    text-align: right;
}


